<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
  </configSections>
  <connectionStrings> 
    <add name="SampleDBConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; AttachDbFilename=D:\IOT_Project\PracticalADO_ReadDB\PracticalADO_ReadDB\App_Data\SampleDB.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <!--//C:\Users\iamsv\source\repos\IOT_Project\PracticalADO_ReadDB\PracticalADO_ReadDB\App_Data\SampleDB.mdf-->
    <!-- D:\IOT_Project\PracticalADO_ReadDB\PracticalADO_ReadDB\App_Data\SampleDB.mdf -->
    <!--"C:\Users\mervy\source\repos\IOT_Project\PracticalADO_ReadDB\PracticalADO_ReadDB\App_Data\SampleDB.mdf"-->
    <add name="PracticalADO_ReadDB.Properties.Settings.SampleDBConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SampleDB.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

